html {
    background-color: #f8f9fa;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
}